<% inner_box_styles = "w-full p-8 bg-gray-800" %>
<% default_description = "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu" %>
<% room_description = defined?(description) ? description : default_description %>
<% room_buttons = defined?(buttons) ? buttons : [] %>

<%= audio_tag "raw/deadend.m4a", loop: true %>

<div class="flex justify-center bg-gray-900 m-8 p-8 w-3/4">
  <div class="flex flex-col justify-center items-center w-5/6 gap-12 text-xl">
    <div class="description <%= inner_box_styles %>">
      <p><%= room_description %></p>
    </div>

    <div class="option-buttons <%= inner_box_styles %>">
      <div class="flex flex-col gap-2">
        <% room_buttons.each do |room_button| %>
          <%= render "shared/button",
            text: room_button.label
          %>
        <% end %>
      </div>
    </div>
  </div>
</div>
